:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: rgb(220, 220, 220);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-main{
    background-color: rgb(220, 220, 220);

}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito";
}

input {
  outline: none;
}

textarea{
  outline: none;
}

.four-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

input, textarea {
  background-color: rgb(240,240,240);
 ;
}

.spinner {
  animation: spin 1s linear infinite;
}

.shadow-bg {
  background-color: rgb(232,232,232);
}

.fa-bounce{
  animation-iteration-count: 3;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.page-animate{
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito_lightRegular.ttf");
  font-weight: 300;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
